/* css for win win section (section4) */
.just{
    margin-top:5%;
    margin-bottom: 4%;
}
.make{
    margin-top:-2%;
   
}
.sense{
    margin-top:-1.5%;
}
.section4{
    background-color:#A5A09F;
    color:white;
}
